<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="抬棺模式"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="对不起肠胃不好，消化不了领导画的饼！" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>